
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

@import "tailwindcss";


body{
    background-color: #F7F3F1;
    font-family: "poppins", sans-serif;
}
@theme {
 --font-syncopate: "Syncopate", sans-serif;
  --font-bai: "Bai Jamjuree", sans-serif;

}

